<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>task1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5 mb-5">


    <h1>Cотрудники</h1>
    <br>
    <form th:action="@{/employees}">
        <h4>Поиск:</h4>
        <input type="text"  class="form-control" name="keyword" id="keyword" size="50" th:value="${keyword}"/>
        <br>
        <input type="submit" value="Найти" class="btn btn-success"/>
        <input type="button" value="Очистить"  class="btn btn-secondary" id="btnClear" onclick="clearSearch()" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function clearSearch() {
                window.location.href = "/employees"
            }
        </script>
    </form>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">E-mail</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Страна</th>
            <th scope="col">Город</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employeesList}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.middleName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.country.name}"></td>
            <td th:text="${employee.city.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>