<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>task1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:src="@{/js/CascadeDropdown.js}"></script>

<div class="container mt-5 mb-5">
    <h1>Добавить нового сотрудника: </h1>

    <form action="ID" th:action="@{/new-employee}" th:object="${employee}" method="post">
        <table>
            <tr>
                <td class="w-25">Укажите фамлиию:</td>
                <td class="w-50"><input th:field="*{lastName}" placeholder="Фамилия" class="form-control"  type="text"></td>
                <td class="w-25" style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> LastName Error</td>
            </tr>
            <tr>
                <td>Укажите имя:</td>
                <td><input th:field="*{firstName}" placeholder="Имя" class="form-control"  type="text"></td>
                <td style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> firstName Error</td>
            </tr>
            <tr>
                <td>Укажите отчество:</td>
                <td><input th:field="*{middleName}" placeholder="Отчество" class="form-control"  type="text"></td>
                <td style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"> middleName Error</td>
            </tr>
            <tr>
                <td>Укажите свой email:</td>
                <td><input th:field="*{email}" placeholder="name@example.com" class="form-control"  type="text"></td>
                <td style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> email Error</td>
            </tr>
            <tr>
                <td>Укажите телефонный номер:</td>
                <td><input th:field="*{phoneNumber}" placeholder="+7(777)7777777" class="form-control" type="text"></td>
                <td style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"> phoneNumber Error</td>
            </tr>
            <tr>
                <td>Выберите страну:</td>
                <td><select th:field="*{country}" id="countriesList" class="form-control selectpicker">
                    <option th:each="country: ${countries}"
                            th:text="${country.name}"
                            th:value="${country.id}"></option>
                </select></td>
                <td style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"> county Error</td>
            <tr>
                <td>Выберите город:</td>
                <td><select th:field="*{city}" id="citiesList" class="form-control selectpicker">

                </select></td>
                <td style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"> city Error</td>
            </tr>
            <tr>
                <td><button type="submit" class="btn btn-success">Добавить сотрудника</button></td>
            </tr>
            </tr>
        </table>
    </form>

</div>
<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>