<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a class="d-flex align-items-center link-body-emphasis text-decoration-none">

      <span class="text-center">Задание №1</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/new-employee">Добавить Сотрудника</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/employees">Поиск</a>
    </nav>
  </div>
</div>